html {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

p {
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

/* Header */

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  border-bottom: 2px solid #cc0f13;
  background-color: white;
  height: 5rem;
}

.header-left {
  display: flex;
  align-items: center;
  letter-spacing: 0.1rem;
  margin-left: 2rem;
}

#dark h2 {
  color: DeepSkyBlue;
}

#light h2 {
  color: MediumBlue;
}

.content img {
  height: 3rem;
  margin-bottom: 0.5rem;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 3rem 0.75rem 3rem;


}



header nav ul {
  display: flex;
  justify-content: center;
}

nav li {

}

nav a {
  vertical-align: bottom;
  font-size: 1rem;
  border: none;
  padding: 0.3rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #3284c6;
  border-right: 1px solid #cc0f13;
  opacity: 0.7;
  font-size: 1.1rem;
}

#kontakt {
  border-right: none;
}

nav a:hover {
  color: #cc0f13;
  opacity: 1;

}

#septik-border {
  border-bottom: none;
}

#avaleht {
  color: #cc0f13;
  opacity: 0.7;
}

#avaleht:hover {
  opacity: 1;
  font-weight: 500;
}

#kyte-border {
  margin-top: 0px;
}

/* Style The Dropdown Button */
.dropbtn {
    border: none;
    cursor: pointer;
    border-right: 1px solid #cc0f13;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    z-index: 1;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);


}

/* Links inside the dropdown */
.dropdown-content a {
    color: #999;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
    border-right: none;
    border-top: 1px solid #eee;
    transition: all 200ms;
    cursor: pointer;
    margin-top: 1px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #9e2a23;
  color: white;
  border-top: 1px solid #9e2a23;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    color: #cc0f13;
    opacity: 1;
}














@media only screen and (max-width: 899px) {
  header .content {
    flex-direction: column;
    text-align: center;
  }

  header .desktop {
    width: 100%;
  }

  .content img {
    height: 2rem;
  }

  nav a {
    font-size: 1.2rem;
  }

  header {
    height: 6rem;
  }


  }

@media only screen and (max-width: 550px) {
  nav a {
    font-size: 1rem;
  }
}



  header .content {
    padding: 0.75rem 0;
  }



}

/* Slideshow */

  .front-slides {
    padding-top: 8rem;
    width: 100%;
    position: relative;
    height: 35rem;

  }

  .slideshow {
    padding-top: 8rem;
    height: 35rem;
    width: 100%;

  }



  #slideshow1 {
    background-image: url(../images/torud2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation:fade 18s infinite;
    position: absolute;
    display: flex;
  }

  #slideshow2 {
    background-image: url(../images/radiaator.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    animation:fade2 18s infinite;
    position: absolute;
    display: flex;




  }

  #slideshow3 {
    background-image: url(../images/kaevupilt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation:fade3 18s infinite;
    position: absolute;
    display: flex;
  }





  @keyframes fade2
  {
    0% {opacity: 0}
    20% { opacity: 0}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    80% { opacity: 1}
    100% { opacity: 1}
  }
  @keyframes fade
  {
    0%   {opacity:1}
    13.33% { opacity: 1}
    33.333% { opacity: 1}
    43.333% { opacity: 0}
    66.666% { opacity: 0 }
    100% { opacity: 0}
  }
  @keyframes fade3
  {
    0%   {opacity:0}
    33.333% { opacity: 0}
    46.666% { opacity: 1}
    66.666% { opacity: 1}
    76.666% { opacity: 0}
    100% { opacity: 0}
  }

  .text {
    border-radius: 4px;
    font-size: 2.2rem;
    display: none;
    position: absolute;
    padding: 0.5rem;
    opacity: 0.8;
    color: #cc0f13;
    display: flex;
  }

#text-1 {
  display: block;
  -webkit-animation-name: text1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 18s; /* Safari 4.0 - 8.0 */
  animation-name: text1;
  animation-duration: 18s;
  background-color: white;
  animation-iteration-count: infinite;
}

@keyframes text1 {
    0%   {left: 200px; top: 200px; opacity: 0}
    13%  {left: 200px; top: 200px; opacity: 0.8}
    30%  {opacity: 0.8}
    38%  {opacity: 0}
    75%  {opacity: 0}
    100% {opacity: 0}
}

@media only screen and (max-width: 759px) {
  @keyframes text1 {
    0%   {left: 75px; top: 200px; opacity: 0}
    13%  {left: 75px; top: 200px; opacity: 0.8}
    30%  {opacity: 0.8}
    38%  {opacity: 0}
    75%  {}
    100% {}
  }
}

#text-2 {
  display: block;
  -webkit-animation-name: text2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 18s; /* Safari 4.0 - 8.0 */
  animation-name: text2;
  animation-duration: 18s;
  background-color: white;
  animation-iteration-count: infinite;
}

@keyframes text2 {
    0%   {left: 100px; top: 0px; opacity: 0}
    7%   {left: 200px; top: 100px; opacity: 0}
    12%  {left: 200px; top: 300px; opacity: 0.8}
    30%  {opacity: 0.8}
    38%  {opacity: 0}
    100% {}
}

@media only screen and (max-width: 759px) {
  @keyframes text2 {
      0%   {left: 75px; top: 0px;}
      7%   {left: 75px; top: 0px;}
      12%  {left: 75px; top: 300px;}
      30%  {opacity: 0.8}
      38%  {opacity: 0}
      100% {}
  }
}

#text-3 {
  display: block;
  -webkit-animation-name: text3; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 18s; /* Safari 4.0 - 8.0 */
  animation-name: text3;
  animation-duration: 18s;
  background-color: white;
  animation-iteration-count: infinite;
}

@keyframes text3 {
  0%   {left: 0px; top: 300px; opacity: 0}
  68%  {left: 0px; top: 300px; opacity: 0}
  76%  {left: 300px; top: 300px; opacity: 0.8}
  92%  {left: 300px; top: 300px; opacity: 0.8}
  100% {left: 300px; top: 300px; opacity: 0.05}
}

@media only screen and (max-width: 1270px) {
  @keyframes text3 {
    0%   {left: 0px; top: 200px; opacity: 0}
    68%  {left: 0px; top: 200px; opacity: 0}
    76%  {left: 100px; top: 200px; opacity: 0.8}
    92%  {left: 100px; top: 200px; opacity: 0.8}
    100% {left: 100px; top: 200px; opacity: 0.05}
  }
}




#text-4 {
  display: block;
  -webkit-animation-name: text4; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 18s; /* Safari 4.0 - 8.0 */
  animation-name: text4;
  animation-duration: 18s;
  background-color: white;
  animation-iteration-count: infinite;
}

@keyframes text4 {
    0%    {left: 550px; top: 400px; opacity: 0}
    71%   {left: 550px; top: 400px; opacity: 0}
    74%   {left: 850px; top: 400px; opacity: 0}
    80%   {left: 550px; top: 400px; opacity: 0.8}
    92%   {left: 550px; top: 400px; opacity: 0.8}
    100%  {left: 550px; top: 400px; opacity: 0.05}
}

@media only screen and (max-width: 1270px) {
  @keyframes text4 {
      0%    {left: 350px; top: 300px; opacity: 0}
      71%   {left: 350px; top: 300px; opacity: 0}
      72%   {left: 650px; top: 300px; opacity: 0}
      80%   {left: 350px; top: 300px; opacity: 0.8}
      92%   {left: 350px; top: 300px; opacity: 0.8}
      100%  {left: 350px; top: 300px; opacity: 0.05}
  }
}

@media only screen and (max-width: 730px) {
  @keyframes text4 {
      0%    {left: 275px; top: 300px; opacity: 0}
      71%   {left: 275px; top: 300px; opacity: 0}
      72%   {left: -25px; top: 300px; opacity: 0}
      80%   {left: 275px; top: 300px; opacity: 0.8}
      92%   {left: 275px; top: 300px; opacity: 0.8}
      100%  {left: 275px; top: 300px; opacity: 0.05}
  }
}

@media only screen and (max-width: 630px) {
  @keyframes text4 {
      0%    {opacity: 0}
      72%   {left: -150px; top: 300px; opacity: 0}
      80%   {left: 150px; top: 300px; opacity: 0.8}
      92%   {left: 150px; top: 300px; opacity: 0.8}
      100%  {left: 150px; top: 300px; opacity: 0.05}
  }
}

#text-5 {
  display: block;
  -webkit-animation-name: text5; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 18s; /* Safari 4.0 - 8.0 */
  animation-name: text5;
  animation-duration: 18s;
  background-color: white;
  animation-iteration-count: infinite;
}

@keyframes text5 {
    0%   {opacity: 0}
    38%  {left: 400px; top: 300px; opacity: 0}
    52%  {left: 400px; top: 300px; opacity: 0.8}
    64%  {left: 400px; top: 300px; opacity: 0.8}
    72%  {opacity: 0}
    100% {opacity: 0}
}

@media only screen and (max-width: 960px) {
  @keyframes text5 {
      0%   {opacity: 0}
      38%  {left: 100px; top: 370px; opacity: 0}
      52%  {left: 100px; top: 370px; opacity: 0.8}
      64%  {left: 100px; top: 370px; opacity: 0.8}
      72%  {opacity: 0}
      100% {opacity: 0}
  }
}

@media only screen and (max-width: 630px) {
  @keyframes text5 {
      0%   {opacity: 0}
      38%  {left: 50px; top: 370px; opacity: 0}
      52%  {left: 50px; top: 370px; opacity: 0.8}
      64%  {left: 50px; top: 370px; opacity: 0.8}
      72%  {opacity: 0}
      100% {opacity: 0}
  }
}


@media only screen and (max-width: 1270px) {
  .slideshow {
    height: 30rem;
  }
}

@media only screen and (max-width: 899px) {
  #slideshow2 {
    background-position: left;
  }
  #slideshow1 {
    background-position: left;
  }
}




/* Banner */





/* Service container */


.service-container {
  padding-top: 40rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #cc0f13;
  display: block;

}

.service-items h3, p {
  padding-top: 0.5rem;
  margin-left: 3rem;
  max-width: 15rem;
}

.service-items h3 {
    font-weight: 600;
}

.service-items img {
  margin-right: 1rem;
  float: left;
}

.service-items div {
  text-align: left;
}

.service-items span {
  text-align: left;
}

.left {
  margin-right: 5rem;
}

.column {
  display: inline-block;
}

.service-kyte, .service-kaevud {
  margin-bottom: 5rem;
}

.service-sanitaar, .service-septikud {
  margin-bottom: 5rem;
}


@media only screen and (max-width: 839px) {
  .left {
    margin-left: 1rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 970px) {
  .left {
    margin-left: 1rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 1270px) {
  .service-container {
    padding-top: 35rem;
  }
}




@media only screen and (max-width: 794px) {
  .left {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

  .right {
    margin-left: 2rem;
    margin-right: 2rem;
  }





/* References buttons */

.category-buttons {
  padding-top: 3.5rem;
}

.category-buttons a {
  color: gray;
}

.category-buttons a:active {
}

.category-buttons ul li {
  display: inline-block;
  font-size: 1.2rem;
  border: 1px solid #d9d9d9;
  padding: 4px 10px 4px 10px;
  margin: 2px 0px 2px 0px;
  cursor: pointer;
}

/* References */

.referentsid {
  padding-top: 3rem;
  font-size: 2rem;
}

.row {
  display: inline;
}

.references-container {
  width: 100%;
  padding-top: 2rem;
  text-align: center;
  border-bottom: 2px solid #cc0f13;
  padding-bottom: 3.5rem;
  text-align: center;
}

.image-container {
  width: 24%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
}

.image-container img {
  width: 100%;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  transition-timing-function: ease-out;
}

.image-container span {
  position: absolute;
  left: 50%;
  top: 50%;
  left: 28%;
  color: #fff;
  font-weight: 400;
  font-size: 2.4rem;
  font-family: "Lato";
  display: none;
}


#function {
  background-color: #cc0f13 !important;
}

.image-container img:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 3; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.image-container span:hover {
}

@media only screen and (max-width: 1020px) {
  .image-container {
    width: 49%;
  }
}

/* About us */

.about-us-container {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  border-bottom: 2px solid #cc0f13;
}

.about-us-text {
  margin-left: 3rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  margin-right: 1rem;

}



.about-us-text p {
  margin-left: 0rem;
  margin-right: 4rem;
  line-height: 1.5;
  max-width: 28rem;
  color: #999;
  font-weight: 500;

}

.about-us-text h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.about-us-text h4 {
  display: inline-block;
  background-color: #FF8C00;
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: 1rem;
  font-weight: 500;

}

.about-us-text h4:hover {
}

.about-us-text h4:active {
  transform: translateY(4px);
}

.about-us-image {
  width: 40rem;
  padding-top: 2rem;
  margin-right: 3rem;
}

.section-container {
  display: flex;
  justify-content: center;

}

.section-container div {
  margin-bottom: 4rem;
}

.section-container img {
  width: 100%;
  margin-right: 2rem;
}

@media only screen and (max-width: 1020px) {
  .section-container {
    display: block;
    flex-direction: column;
    margin-left: auto;
  }
  .about-us-container {
    text-align: center;
  }

  .about-us-text {
    width: 30rem;
    margin: auto;
    padding: 0;
  }

  .about-us-text p {
    margin-right: 0;
  }

  .about-us-image {
    width: 100%;
    padding-top: 0;
  }

  .section-container img {
    width: 30rem;
    margin: auto;
  }
}

@media only screen and (max-width: 589px) {
   .about-us-text, .about-us-text p {
    width: 25rem;
  }

  .about-us-image img {
    width: 90%;
    margin: auto;
  }
}

/* Contact */

.contact-container {
  margin-bottom: 3rem;
}

#hinnaparing {
}

#hide-button {
  text-align: center;
}

#hide-button span {
  position: relative;
  bottom: 100px;
  height: 3rem;
  width: 8rem;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

/* Footer */

footer {
  height: 3rem;
  padding-top: 1rem;
  border-top: 2px solid #cc0f13;
  display: flex;
  justify-content: space-between;
  color: #3284c6;
  font-weight: 600;
}

.company {
  margin-left: 3rem;
}

.footer-contact {
  margin-right: 3rem;


}

.footer-contact h4 {
  display: inline-block;
  margin-left: 2rem;
}


/* Küttesüsteemid */

.container {
  text-align: left;
}

.subheading {
  padding-top: 10rem;
}

.tekst, .pilt {
  display: inline-block;
  align-items: center;
}

.tekst {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sisu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pilt {
  width: 50%;
}

.pilt img {
  width: 100%;
  padding: 5rem;
}

@media only screen and (max-width: 899px) {
  header .content {
    flex-direction: column;
    text-align: center;
  }
}

.tekst p {
  min-width: 15rem;
  max-width: 25rem;
  margin-left: 0rem;
}

.tekst h2 {
  margin-bottom: 1rem;
}

.tekst {
  display: block;
  margin-left: 8rem;
}

.tekst ul {
  list-style-type: circle;
  padding-left: 2rem;
  line-height: 1.5rem;'
}


/*teenused*/

.teenused-container {
  padding-top: 8rem;
  line-height: 1.4;
  text-align: left;
  margin-left: 14rem;
  margin-bottom: 3rem;

}

.teenused-container h2 {
  padding-bottom: 1rem;
}

.teenused-container ul li {}


.teenused-container ul li:before {
 content: "\0BB \020";
 }

 @media only screen and (max-width: 1020px) {
   .teenused-container {
     margin-left: 8rem;
   }
 }

 @media only screen and (max-width: 839px) {
   .teenused-container {
     margin-left: 6rem;
   }
 }

 @media only screen and (max-width: 760px) {
   .teenused-container {
     margin-left: 4rem;
   }
 }

 @media only screen and (max-width: 575px) {
   .teenused-container {
     margin-left: 1rem;
   }
 }




/*

#service-desktop {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
}


.section h3 {
  padding-top: 0.5rem;
  background-color: white;
  width: 100%;
  position: relative;
  bottom: 5px;
  height: 1.5rem;
  background-color: lightblue;
}



Courses section

.section-container {
  border-bottom: 2px solid #cc0f13;
}

.section-container div {
  margin-bottom: 3.5rem;
}

.section-container p {
  margin-left: 0;
}

.section img {
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

img:hover {
  opacity: 1.0;
}


.section {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 1rem;
  margin-bottom: 0px;
  max-width: 25rem;

}



.row {
  display: flex;
  justify-content: center;
}


.about-us {
  padding-top: 5rem;
  margin: auto;
  width: 40rem;
  line-height: 1.5;
}

*/
