html {
  font-size: 16px;
  font-family: "Verdano", sans-serif;
  text-align: center;
}

p {
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

/* Header */

header {
  position: fixed;
  z-index: 5;
  width: 100%;
  border-bottom: 2px solid #cc0f13;
  background-color: white;
  height: 5rem;
  font-size: 2rem;
}

.header-left {
  display: flex;
  align-items: center;
  letter-spacing: 0.1rem;
  margin-left: 2rem;
}

#dark h2 {
  color: DeepSkyBlue;
}

#light h2 {
  color: MediumBlue;
}

.content img {
  height: 3rem;
  margin-bottom: 0.5rem;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 3rem 0.75rem 3rem;

}



header nav ul {
  display: flex;
  justify-content: center;
}

nav li {
}

nav a {
  vertical-align: bottom;
  line-height: 1.2;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 0.3rem 1.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #3284c6;
  border-right: 1px solid #cc0f13;
  opacity: 0.7;
}

#kontakt {
  border-right: 0px solid;
}

nav a:hover {
  color: #cc0f13;
  opacity: 1;

}




@media only screen and (max-width: 899px) {
  header .content {
    flex-direction: column;
    text-align: center;
  }

  header .desktop {
    width: 100%;
  }

  .content img {
    height: 2rem;
  }

  nav a {
    font-size: 1.2rem;
  }

  header {
    height: 6rem;
  }


  }

@media only screen and (max-width: 550px) {
  nav a {
    font-size: 1rem;
  }
}



  header .content {
    padding: 0.75rem 0;
  }



}

/* Slideshow */

  .front-slides {
    padding-top: 8rem;
    width: 100%;

  }

  .slideshow {
    padding-top: 8reM;
    height: 35rem;
    width: 100%;
  }

  #slideshow1 {
    background-image: url(../images/torud2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  #slideshow2 {
    background-image: url(../images/radiaator.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  #slideshow3 {
    background-image: url(../images/kaevupilt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.w3-display-left {
}

@media only screen and (max-width: 1270px) {
  .slideshow {
    height: 30rem;
  }
}

@media only screen and (max-width: 899px) {
  #slideshow2 {
    background-position: left;
  }
  #slideshow1 {
    background-position: left;
  }
}


/* Banner */

  .banner-container {
    text-align: center;
    margin-left: 10rem;
  }

  .banner {
    margin-top: 8rem;
    display: flex;
    width: 35rem;
    padding-top: 20rem;
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: bold;
    background-color: light; /* Green */
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

  #left {
    position: relative;
    right: 15rem;
  }

  #middle {
    position: relative;
    right: 5rem;
  }


/* Service container */


.service-container {
  height: 18rem;
  width: 100%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #cc0f13;
}

.service-items h3, p {
  padding-top: 0.5rem;
  margin-left: 3rem;
  max-width: 15rem;
}

.service-items h3 {
    font-weight: 600;
}

.service-items img {
  margin-right: 1rem;
  float: left;
}

.service-items div {
  margin-bottom: 5rem;
  text-align: left;
}

.service-items span {
  text-align: left;
}

.left {
  margin-right: 5rem;
}

.column {
  display: inline-block;
}

@media only screen and (max-width: 699px) {
  .service-container {
    height: 35rem;
    display: flex;
    justify-content: center;

  }
  .column {
    display: block;
    margin: auto;
  }
}


/* References */

.references-container {
  margin-top: 4rem;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #cc0f13;
  padding-bottom: 3.5rem;
}

.image-container {
  width: 24%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0.5rem;
}

.image-container img {
  width: 100%;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  transition-timing-function: ease-out;
}

.image-container span {
  position: absolute;
  left: 50%;
  top: 50%;
  left: 28%;
  color: #fff;
  font-weight: 400;
  font-size: 2.4rem;
  font-family: "Lato";
  display: none;
}


.image-container img:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 3; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.image-container span:hover {
}


/* About us */

.about-us-container {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  border-bottom: 2px solid #cc0f13;
}

.about-us-text {
  margin-left: 3rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

}



.about-us-text p {
  margin-left: 0rem;
  margin-right: 4rem;
  line-height: 1.5;
  max-width: 28rem;

}

.about-us-text h3 {
  font-size: 1.5rem;
}

.about-us-text h4 {
  display: inline-block;
  background-color: #FF8C00;
  padding: 0.5rem;
  border-radius: 4px;
  margin-top: 1rem;
  font-weight: 600;
}

.about-us-text h4:hover {
}

.about-us-text h4:active {
  transform: translateY(4px);
}

.about-us-image {
  width: 40rem;
  margin-right: 3rem;
}

.section-container {
  display: flex;
  justify-content: center;

}

.section-container div {
  margin-bottom: 4rem;
}

.section-container img {
  width: 100%;
  margin-right: 2rem;
}


/* Contact */

.contact-container {
}

/* Footer */

footer {
  height: 3rem;
  padding-top: 1rem;
  border-top: 2px solid #cc0f13;
  display: flex;
  justify-content: space-between;
  color: #3284c6;
  font-weight: 600;
}

.company {
  margin-left: 3rem;
}

.footer-contact {
  margin-right: 3rem;


}

.footer-contact h4 {
  display: inline-block;
  margin-left: 2rem;
}


/* Küttesüsteemid */

.container {
  padding-top: 10rem;
  text-align: left;
}



.sisu {
  display: flex;
  justify-content: center;
}

.pilt {
  width: 50%;
}

.pilt img {
  width: 100%;
  padding: 5rem;
}

.tekst p {
  min-width: 15rem;
  max-width: 25rem;
  margin-left: 0rem;
}

.tekst h2 {
  margin-bottom: 1rem;
}

.tekst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8rem;
}

.tekst ul {
  list-style-type: circle;
  padding-left: 2rem;
  line-height: 1.5rem;
}






/*

#service-desktop {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
}


.section h3 {
  padding-top: 0.5rem;
  background-color: white;
  width: 100%;
  position: relative;
  bottom: 5px;
  height: 1.5rem;
  background-color: lightblue;
}



Courses section

.section-container {
  border-bottom: 2px solid #cc0f13;
}

.section-container div {
  margin-bottom: 3.5rem;
}

.section-container p {
  margin-left: 0;
}

.section img {
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

img:hover {
  opacity: 1.0;
}


.section {
  text-align: center;
  width: 100%;
  height: auto;
  margin: 1rem;
  margin-bottom: 0px;
  max-width: 25rem;

}



.row {
  display: flex;
  justify-content: center;
}


.about-us {
  padding-top: 5rem;
  margin: auto;
  width: 40rem;
  line-height: 1.5;
}

*/
